<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".build/phpunit.cache"
         cacheResultFile=".build/phpunit.result.cache"
         colors="true"
         beStrictAboutCoverageMetadata="true"
>
	<testsuites>
		<testsuite name="tootbot test suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
	<coverage>
		<report>
			<clover outputFile=".build/coverage/clover.xml"/>
			<xml outputDirectory=".build/coverage/coverage-xml"/>
		</report>
	</coverage>
	<php>
		<!-- whether the test runs on CI -->
		<const name="TEST_IS_CI" value="true"/>
	</php>
</phpunit>
